<h1 id="projetodeintroduaoengenharia">projeto de introduçao à engenharia</h1>

<h2 id="controledefluxoeconsumousandoarduino">controle de fluxo e consumo usando arduino</h2>

<h3 id="introduo">Introdução</h3>

<p>Objetivos gerais do projeto:</p>

<ul>
<li>Intodução ao uso de hardware e software, gerando afinidade com codificação    aplicada, conhecimento basico e noções de peças de hardware</li>

<li>este projeto foi pensado para ser um prototipo a ser aprimorado com o intuito de ser aplicado á venda de cerveja em barril(chopp)
<h5 --  <strong>Material utilizado:</strong> 
 Arduino uno 
 medidor de fluxo de agua
 Resistores
 Jumpers
 Protoboard
 Cabo fonte 
 fonte do fluido
 mangueiras e conexoes
</li>
</ul>

<h3 id="projetoemandamento">Projeto em andamento</h3>

<ul>
<li>descrição:</li>

<li>

<ul>
<li>após montado o sistema, o medidor irá registrar a quantidade de liquido (no experimento a agua) em l/s e o programa irá mostrar o fluxo do mesmo que está sendo "servido", a quantidade total sevida e o consumo em reais, relacionando o a informação anterior com o preço do liquido por litro.</li></ul>
</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/btmMJy8M5aQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="http://storage.ning.com/topology/rest/1.0/file/get/1939693635?profile=RESIZE_1024x1024" alt="imagem esquematica do projeto" /></p>