<h1 id="projeto-de-introdu-ao-engenharia">Projeto de introduçao à engenharia</h1>
<h2 id="controle-de-fluxo-e-consumo-usando-arduino">Controle de fluxo e consumo usando arduino</h2>
<h3 id="introdu-o">Introdução</h3>
<p>Objetivos gerais do projeto:</p>
<ul>
<li>Intodução ao uso de hardware e software, gerando afinidade com codificação aplicada, conhecimento basico e noções de peças de hardware</li>
<li>Este projeto foi pensado para ser um prototipo a ser aprimorado com o intuito de ser aplicado á venda de cerveja em barril(chopp)<h4 id="-material-utilizado-"><strong>Material utilizado:</strong></h4>
  Arduino uno 
  Medidor de fluxo de agua
  Resistores
  Jumpers
  Protoboard
  Cabo fonte 
  fonte do fluido
  Mangueiras e conexoes
  Computador (obviamente...)</li>
</ul>
<h3 id="projeto-em-andamento">Projeto em andamento</h3>
<ul>
<li>DESCRIÇÃO:</li>
<li><ul>
<li>após montado o sistema, o medidor irá registrar a quantidade de liquido (no experimento a agua) em l/s e o programa irá mostrar o fluxo do mesmo que está sendo &quot;servido&quot;, a quantidade total sevida e o consumo em reais, relacionando o a informação anterior com o preço do liquido por litro.<h2 id="resultados-">Resultados:</h2>
</li>
</ul>
</li>
</ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/btmMJy8M5aQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="http://storage.ning.com/topology/rest/1.0/file/get/1939693635?profile=RESIZE_1024x1024" alt="imagem esquematica do projeto"></p>
